<g zIndex="${model.value.zIndex}">
   <g class="wrapper">
      <ellipse class="ellipse body" />
      <rect stroke-width="1" width="6" height="6" stroke="#CCCCCC" fill="white" class="map-item top-left"> </rect>
      <rect stroke-width="1" width="6" height="6" stroke="#CCCCCC" fill="white" class="map-item top-right"> </rect>
      <rect stroke-width="1" width="6" height="6" stroke="#CCCCCC" fill="white" class="map-item bottom-right"> </rect>
      <rect stroke-width="1" width="6" height="6" stroke="#CCCCCC" fill="white" class="map-item bottom-left"> </rect>
      <ellipse stroke-width="1" rx="4" ry="4" cx="-2" cy="-2" stroke="#CCCCCC" fill="white" class="map-item rotate"> </ellipse>
   </g>
</g>